/* Code: ABAB008 */

.img {
  height: 100px;
  width: 100px;
  border-radius: 10px;
}

.containerCard {
  max-width: 450px;
  min-width: 200px;
  position: relative;
  padding: 10px;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.grayImg {
  filter: grayscale(100%);
}

.name {
  font-size: calc(var(--size) * 1.8);
  font-weight: var(--boldL3);
  line-height: 25px;
  text-align: left;
}

.position {
  text-align: center;
  font-size: calc(var(--size) * 0.8);
  font-weight: var(--boldL3);
  text-align: left;
}

.desc {
  margin-top: 5px;
  font-size: calc(var(--size) * 0.78);
  text-align: justify;
}

@media screen and (max-width: 450px) {
  .name {
    font-size: calc(var(--size) * 1.5);
    line-height: 20px;
  }

  .position {
    font-size: calc(var(--size) * 0.72);
  }

  .desc {
    font-size: calc(var(--size) * 0.72);
  }
}

@media screen and (max-width: 350px) {
  .name {
    font-size: calc(var(--size) * 1.2);
    line-height: 15px;
  }
}
@media screen and (max-width: 315px) {
  .img {
    height: 80px;
    width: 80px;
    border-radius: 10px;
  }

  .name {
    font-size: calc(var(--size) * 1.2);
    line-height: 20px;
  }
}

@media screen and (max-width: 290px) {
  .containerCard {
    flex-direction: column;
    gap: 5px;
  }
}

@media screen and (max-width: 200px) {
  .containerCard {
    min-width: 100px;
  }

  .name {
    font-size: calc(var(--size) * 1.1);
    line-height: 20px;
  }
}
