/* OTPInput.module.css */

.otpInputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
  width: var(--width);
  flex-wrap: wrap;
  container-type: inline-size;
  container-name: otpInputContainer;
}

.otpInput {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: var(--size);
  border: 1px solid var(--color);
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease;
}

.otpInput:focus {
  color: var(--color);
  font-weight: var(--boldL2);
}

.otpInput.colorError {
  border: 1px solid var(--colorYellow);
  color: var(--colorRed);
}

@container otpInputContainer (max-width: 350px) {
  .otpInput {
    width: 30px;
    height: 30px;
  }
}

@container otpInputContainer (max-width: 250px) {
  .otpInputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px 0;
    width: var(--width);
  }

  .otpInput {
    width: 25px;
    height: 25px;
    font-size: calc(0.9 * var(--size));
  }
}
