.passwordInput {
    margin-bottom: 20px;
    width: 100%;
    position: relative;
    margin-top: 10px;
}

.inputContainer {
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--colorCyan);
}

.formControl {
    width: calc(100% - 30px);
    padding: 3px 10px;
    border: none;
    outline: none;
}

.passwordInput input::placeholder {
    color: var(--colorGray4);
}

.passwordInput input:focus {
    border: none;
    outline: none;
    color: var(--colorCyan);
    font-weight: var(--boldL2);
}


.passwordLabel {
    position: absolute;
    top: -10px;
    left: 10px;
    font-size: calc(var(--size) * 0.8);
    color: var(--colorGray5);
}

.strength {
    padding-left: 10px;
    font-size: calc(var(--size) * 0.8);
    text-align: left;
}

.strength.Short {
    color: var(--colorRed);
}

.strength.Weak {
    color: var(--colorRed);
}

.strength.Medium {
    color: var(--colorYellow);
}

.strength.Strong {
    color: var(--colorCyan);
}

.passwordIcon {
    fill: var(--colorCyan);
    width: 24px;
    height: 24px;
    cursor: pointer;
}