.passwordInput {
  width: var(--width);
  position: relative;
}

.inputContainer {
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--colorCyan);
}

.formControl {
  width: calc(var(--width) - 30px);
  padding: 5px 5px;
  border: none;
  outline: none;
}

.passwordInput input::placeholder {
  color: var(--colorGray4);
}

.passwordInput input:focus {
  border: none;
  outline: none;
  color: var(--colorCyan);
  font-weight: var(--boldL2);
}

.passwordLabel {
  position: absolute;
  top: -12px;
  left: 0px;
  font-size: calc(var(--size) * 0.8);
  color: var(--colorGray5);
}

.strength {
  padding-left: 5px;
  font-size: calc(var(--size) * 0.8);
  text-align: left;
}

.strength.Short {
  color: var(--colorRed);
}

.strength.Weak {
  color: var(--colorRed);
}

.strength.Medium {
  color: var(--colorYellow);
}

.strength.Strong {
  color: var(--colorCyan);
}

.passwordIcon {
  fill: var(--colorCyan);
  width: 24px;
  height: 24px;
  cursor: pointer;
}
