.container {
  --light: #edf2f9;
  --dark: #152e4d;
  --darker: #12263f;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--light);
}

.content {
  display: flex;
  flex-direction: column;
}

.errorCode {
  font-size: 9rem;
  font-weight: var(--boldL2);
  color: var(--colorRed);
  text-align: center;
}

.title svg {
  font-size: var(--size);
  width: 35px;
  height: 35px;
  color: var(--colorRed);
}

.title svg path {
  color: var(--colorRed);
}

.message {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-align: center;
}

.titleText {
  font-size: 2rem;
  font-weight: var(--boldL2);
  color: #4a5568;
  text-align: center;
}

.link {
  color: var(--colorBlue);
  cursor: pointer;
  font-weight: var(--boldL2);
  text-decoration: underline;
}

.link:hover {
  text-decoration: none;
}

.description,
.instruction {
  font-size: 1rem;
  color: #4a5568;
  text-align: center;
}

@media (max-width: 520px) {
  .errorCode {
    font-size: 6rem;
  }

  .title svg {
    width: 30px;
    height: 30px;
  }

  .titleText {
    font-size: 1.7rem;
  }

  .description,
  .link,
  .instruction {
    font-size: 0.95rem;
  }
}

@media (max-width: 370px) {
  .errorCode {
    font-size: 6rem;
  }

  .title svg {
    width: 30px;
    height: 30px;
  }

  .titleText {
    font-size: 1.4rem;
  }
}

@media (max-width: 300px) {
  .errorCode {
    font-size: 4rem;
  }

  .title svg {
    width: 20px;
    height: 20px;
  }

  .titleText {
    font-size: 1rem;
  }

  .description,
  .link,
  .instruction {
    font-size: 0.9rem;
  }
}
