.container {
  background-color: var(--colorGray2);
  height: var(--height);
  width: var(--width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.icon svg {
  height: var(--iconSize);
  width: var(--iconSize);
  color: var(--colorGray3);
}

.icon svg path {
  color: var(--colorGray4);
}

.container p {
  font-size: 0.8rem;
  text-align: center;
  color: var(--colorGray4);
}
