.datePicker {
  width: var(--width);
  position: relative;
}

.dateInput {
  padding: 5px;
  padding-top: 0;
  cursor: pointer;
  text-align: center;
  margin-bottom: 5px;
  border-top: var(--borderTop);
  border-left: var(--borderLeft);
  border-right: var(--borderRight);
  border-bottom: var(--borderBottom);
  border-radius: var(--borderRadius);
  width: var(--width);
}

.calendar {
  position: absolute;
  top: 38px;
  left: 0;
  width: 100%;
  background-color: var(--colorBackground);
  z-index: 1000;
}

.required {
  padding-top: 5px;
  margin: 0 5px;
  color: var(--colorRed);
  font-weight: var(--boldL4);
  text-align: end;
}
