/* tooltip.css */
.tooltip {
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 0.85rem;
  white-space: nowrap;
}

.tooltip::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 6px solid transparent;
}

.tooltip.bottom::after {
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom-color: #eceaea;
}

.tooltip.top::after {
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  border-top-color: #eceaea;
}
