.audioUploadContainer {
  width: var(--width);
  min-height: var(--height);
}

.audioUpload {
  width: 100%;
  height: calc(var(--height) - 20px);
  border: 2px dashed var(--color);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  text-align: center;
  color: var(--colorCyan);
}

.audioUpload.dragging {
  border-color: var(--colorBlue);
  background-color: var(--colorGray1);
  color: var(--colorCyan);
}

.formControl {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.label {
  color: var(--colorGray4);
}

.error {
  color: var(--colorRed);
  text-align: center;
}

.required {
  padding-top: 5px;
  margin: 0 5px;
  color: var(--colorRed);
  font-weight: var(--boldL4);
  text-align: end;
}
