.audioPreview {
  width: var(--width);
  height: auto;
  border: 1px solid var(--color);
  border-radius: 7px;
}

.customControls {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.player {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
}

.timeInfo {
  font-weight: var(--boldL2);
  position: relative;
}

.hoverTime {
  position: absolute;
  top: 20px;
  left: 0;
  background-color: var(--color);
  color: var(--colorWhite);
  padding: 2px 5px;
  border-radius: 3px;
  font-size: calc(var(--size) * 0.8);
}

.trackContainer {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: var(--colorGray3);
  cursor: pointer;
}

.track {
  height: 100%;
  background-color: var(--color);
  position: absolute;
  top: 0;
  left: 0;
}

.progressCircle {
  position: absolute;
  top: -4px;
  width: 10px;
  height: 10px;
  background-color: var(--color);
  border-radius: 50%;
  transform: translateX(-50%);
}

.controlers {
  width: 100%;
  padding: 2px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.volumeControls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.volumeTrackContainer {
  position: relative;
  width: 150px;
  height: 3px;
  background-color: var(--colorGray3);
  cursor: pointer;
  margin-bottom: 2px;
}

.volumeTrack {
  height: 100%;
  background-color: var(--color);
  position: absolute;
  top: 0;
  left: 0;
}

.volumeCircle {
  position: absolute;
  top: -4px;
  width: 10px;
  height: 10px;
  background-color: var(--color);
  border-radius: 50%;
  transform: translateX(-50%);
}

.resetRemove {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.error {
  color: var(--colorRed);
  text-align: center;
}
