.fileUpload {
    width: 100%;
    height: 100%;
    border: 2px dashed var(--color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    text-align: center;
    color: var(--color);
}

.fileUpload.dragging {
    border-color: var(--colorBlue);
    background-color: var(--colorGray1);
    color: var(--color);
}

.fileUpload .label {
    color: var(--colorGray4);
}

.fileUpload:hover .label {
    font-weight: var(--boldL2);
}

.fileUpload input[type="file"] {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.infor {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3px;
    max-height: 300px;
    overflow: auto;
}

.fileInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3px;
    border-bottom: 1px solid var(--colorGray1);
    padding-bottom: 2px;


}

.fileName {
    width: calc(100% - 270px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}

.fileName:hover {
    text-decoration: underline;
    color: var(--colorBlue);
    cursor: pointer;
}

.uploadRemove {
    display: flex;
    gap: 15px;
    width: 270px;
    justify-content: end;
}

.actions {
    margin-top: 10px;
    padding: 0 10px;
    padding-top: 5px;
    border-top: 2px solid var(--colorGray3);
    display: flex;
    justify-content: end;
    gap: 15px;

}

.error {
    color: var(--colorRed);
    text-align: center;
}

.buttonLink{
    color: var(--color);
}

.buttonLink:hover{
    color: var(--colorBlue);
    cursor: pointer;
    text-decoration: none;
}