.imageUpload {
    width: 100%;
    height: 100%;
    border: 2px dashed var(--color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    text-align: center;
    color: var(--color);
}

.imageUpload.dragging {
    border-color: var(--colorBlue);
    background-color: var(--colorGray1);
    color: var(--color);
}

.formControl {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.label {
    color: var(--colorGray4);
}


.imagePreview {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    max-width: 100%;
    max-height: 300px;
    margin-bottom: 10px;
    border-radius: 50%;
}

.resetRemove {
    display: flex;
    gap: 15px;
    width: 270px;
    justify-content: center;
}

.error {
    color: var(--colorRed);
    text-align: center;
}