.videoUploadContainer {
  width: var(--width);
  min-height: var(--height);
}

.videoUpload {
  width: 100%;
  height: 100%;
  border: 2px dashed var(--color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  text-align: center;
  color: var(--color);
}

.dragging {
  border-color: var(--colorBlue);
  background-color: var(--colorGray1);
  color: var(--color);
}

.formControl {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.label {
  color: var(--colorGray4);
}

.uploadDetails {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.videoSizeIcon {
  display: flex;
  gap: 10px;
}

.error {
  color: var(--colorRed);
  text-align: center;
}
