.formWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  overflow-y: auto;
  min-height: 100vh;
}

.form {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  width: 450px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.meta {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  text-align: center;
  font-size: calc(1.2 * var(--size));
}

.description {
  width: 100%;
  text-align: justify;
  color: var(--colorGray5);
}

.repeatableGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.repeatableGroup label {
  font-weight: var(--boldL2);
}

.repeatableItem {
  padding: 20px 10px;
  border: 1px solid var(--colorGray3);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.stepButtons {
  width: 90%;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.progressStatus {
  font-size: var(--size);
  font-weight: var(--boldL2);
  color: var(--colorGray4);
  text-align: center;
}

.progressBarWrapper {
  width: 100%;
  height: 6px;
  background-color: var(--colorGray2);
  border-radius: 4px;
  overflow: hidden;
}

.progressBar {
  height: 100%;
  border-radius: 4px;
  transition: width 0.4s ease-in-out;
}
