.form {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background: #fff;
  padding: 1.5rem;
  border-radius: 8px;
  width: 450px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.meta {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  text-align: center;
  font-size: calc(1.2 * var(--size));
}

.description {
  width: 100%;
  text-align: justify;
  color: var(--colorGray5);
}
