.errorList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(var(--size) * 1.2);
  background: var(--colorWhite);
  border-radius: var(--radiusL);
  padding: calc(var(--size) * 2);
  border: 1px solid var(--colorGray3);
  border-radius: 5px;
}

.title {
  font-size: calc(1.3 * var(--size));
  font-weight: var(--boldL2);
  color: var(--colorRed);
  text-align: center;
}

.message {
  font-size: calc(0.9 * var(--size));
  text-align: center;
  color: var(--colorGray7);
  max-width: 90%;
  line-height: 1.5;
}

.table {
  width: 100%;
  border: 1px solid var(--colorGray3);
  border-radius: 5px;
  overflow: hidden;
}

.tableHeader {
  display: flex;
  font-weight: var(--boldL2);
  background: var(--colorGray2);
  color: var(--colorGray8);
  font-size: calc(0.9 * var(--size));
  text-align: left;
  cursor: default;
  position: sticky;
  top: 0;
  z-index: 1;
}

.tableBody {
  display: block; /* separate scrollable body */
  max-height: 500px; /* or any height you prefer */
  overflow-y: auto;
  width: 100%;
}

.tableRow {
  display: flex;
  width: 100%;
  border-top: 1px solid var(--colorGray1);
  text-align: left;
  cursor: default;
}

.tableCell {
  flex: 1;
  padding: 5px 10px;
  font-size: calc(0.9 * var(--size));
  color: var(--colorGray8);
  word-break: break-word;
}

.tableRow:hover {
  background: var(--colorGray2);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@media (max-width: 1300px) {
  .errorList {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .errorList {
    width: 90%;
  }

  .tableHeader,
  .tableRow {
    flex-direction: column;
    padding: 0;
    padding: 5px 10px;
  }

  .tableCell {
    padding: 0;
  }
}

@media (max-width: 500px) {
  .errorList {
    width: 100%;
    padding: 5px;
  }

  .tableHeader,
  .tableRow {
    flex-direction: column;
    padding: 0;
    padding: 5px 10px;
  }

  .tableCell {
    padding: 0;
  }
}
