.dropdown {
  position: relative;
  width: var(--width);
}

.dropdownHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border: 1px solid var(--colorGray3);
  border-radius: 5px;
  cursor: pointer;
}

.dropdownHeader.open {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.dropdownToggle {
  border: none;
  background: none;
  cursor: pointer;
}
.label {
  font-size: calc(var(--size) * 0.8);
  color: var(--colorGray5);
  text-align: left;
  padding-bottom: 3px;
}

.dropdownMenu {
  position: absolute;
  width: 100%;
  z-index: 1000;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border: 1px solid var(--colorGray3);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: var(--colorBackground);
  padding-bottom: 10px;
}

.dropdownOptions {
  overflow-y: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.searchInput {
  border: none;
  outline: none;
  width: 95%;
  padding: 8px;
  box-sizing: border-box;
  margin: 5px 0;
  border-bottom: 2px solid var(--color);
}

.searchInput:focus {
  color: var(--color);
  font-weight: var(--boldL2);
}

.addNewOption {
  padding: 8px;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.addNewOption input {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid var(--color);
  padding: 3px 2px;
}

.optionList {
  width: 95%;
  list-style: none;
  margin: 10px 0;
  padding: 0;
}

.optionItem {
  padding: 8px;
  cursor: pointer;
  border: 1px solid var(--colorBackground);
  text-align: left;
  border-radius: 4px;
}

.optionItem:hover {
  background: var(--color);
  color: var(--colorWhite);
  opacity: 0.7;
}

.optionItem.selected {
  background: var(--color);
  font-weight: var(--boldL2);
  color: var(--colorWhite);
}

.buttons {
  display: flex;
  gap: 10px;
  width: 100%;
  padding: 10px;
}

.buttons button {
  height: auto;
}

.required {
  padding-top: 5px;
  padding-right: 10px;
  margin: 0 5px;
  color: var(--colorRed);
  font-weight: var(--boldL4);
  text-align: end;
  width: 100%;
}
