.tabWithDropdown {
  position: relative;
}

.dropdownMenu {
  position: absolute;
  z-index: 1000;
  background: var(--colorBackground);
  border: 1px solid var(--colorGray3);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  padding: 8px;
  border-radius: 4px;
  min-width: 180px;
}

.dropdownItem {
  padding: 6px 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  gap: 30px;
}

.dropdownItem:hover {
  background: #f0f0f0;
}

.dropdownItemLabel {
  font-weight: 500;
  text-wrap: nowrap;
}

.dropdownItemDescription {
  font-size: 0.85em;
  color: var(--colorGray4);
  text-wrap: nowrap;
}

.dropBottom {
  top: 100%;
  margin-top: 4px;
}

.dropTop {
  bottom: 100%;
  margin-bottom: 4px;
}

.alignLeft {
  right: 0;
}
.alignRight {
  left: 0;
}
