.searchBox {
    position: relative;
    width: 100%;
}

.input {
    width: calc(100% - 30px);
    padding: 3px 5px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid var(--color);
}

.nameIcon {
    display: flex;
    padding: 0 4px;
}

.search {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.search svg path {
    color: var(--colorBlue);
}

.input::placeholder {
    color: var(--color);
}

.input:focus {
    border: none;
    border-bottom: 2px solid var(--colorBlue);
    outline: none;
    color: var(--colorBlue);
}

.suggestionsList {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--colorBackground);
    max-height: 250px;
    overflow-y: auto;
    margin: 3px 10px;
    padding: 0;
    list-style: none;
    text-align: left;
    border: 1px solid var(--colorGray3);
}

.suggestionItem {
    padding: 6px;
    cursor: pointer;
}

.highlighted,
.suggestionItem:hover {
    text-decoration: underline;
    color: var(--colorBlue);
    font-weight: var(--boldL2);
}

@media (max-width: 690px) {
    .searchBox {
        position: static;
        width: 100%;
    }

    .suggestionsList {
        top: 50px;

    }


    /* .suggestionsList {
        top: 50px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        width: 300px;
        max-height: 250px;
        border-radius: 0 0 10px 10px;
    } */
}

/* 
@media (max-width: 690px) {
    .suggestionsList {
        width: 350px;
        left: 10px;
    }
}

@media (max-width: 500px) {
    .suggestionsList {
        width: 280px;
        left: 8px;
    }
}

@media (max-width: 420px) {
    .suggestionsList {
        width: 200px;
        left: 6px;

    }
}

@media (max-width: 360px) {
    .suggestionsList {
        width: 160px;
        left: 6px;

    }
} */