.footer {
  background-color: var(--colorGray2);
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.copyright {
  text-align: center;
  width: 100%;
  font-weight: var(--boldL2);
}

@media (max-width: 1000px) {
  .footer {
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: start;
  }
}
