.stepperContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  width: var(--width);
}

.stepperLabel {
  margin-bottom: 10px;
  font-size: 16px;
}

.stepperControls {
  display: flex;
  align-items: center;
}

.stepperButton {
  background-color: var(--color);
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
  color: var(--colorWhite);
  font-weight: var(--boldL2);
}
.stepperButton:hover {
  opacity: 0.7;
}

.stepperButton:disabled {
  background-color: var(--colorGray3);
  cursor: not-allowed;
}

.stepperButton,
.stepperOutput {
  border-radius: 5px;
  width: 40px;
  height: 40px;
}

.stepperOutput {
  border: 1px solid var(--color);
  width: 60px;
  margin: 0 10px;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.required {
  padding-top: 5px;
  margin: 0 5px;
  color: var(--colorRed);
  font-weight: var(--boldL4);
  text-align: end;
  width: 100%;
}
