.activeForms {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.activeInforCard {
    width: 100%;
    height: 150px;
    border: 1px solid var(--colorGray3);
    border-radius: 10px;
    display: flex;
    overflow: hidden;
}

.secWrapper1 {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.secWrapper2 {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sec1 {
    width: 100%;
    height: 57%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.dpImage {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.dpImage img {
    width: 100%;
    height: 100%;
}

.sec1 p {
    width: 100%;
    font-weight: var(--boldL2);
    text-align: center;
}

.sec2 {
    width: 100%;
    height: 43%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 5px 5px 5px;
}

.sec3 {
    width: 100%;
    height: 50%;
    border-radius: 0 15px 0 0;
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 5px;
}

.titleTag {
    display: flex;
    justify-content: space-between;
}

.title {
    font-weight: var(--boldL2);
    font-size: calc(var(--size) * 0.95);
    width: 100%;
    text-align: left;
}

.tag {
    border: 1px solid var(--colorCyan);
    border-radius: 5px;
    padding: 0px 5px 1px 5px;
}

.desc {
    width: 100%;
    height: 100%;
    font-size: calc(var(--size) * 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;

}

.sec4 {
    width: 100%;
    height: 50%;
    padding: 0 10px;
}

.submissionWrapper {
    display: flex;
    justify-content: center;
}

.submissionInfo {
    position: relative;

}

.label {
    position: absolute;
    top: -25px;
    left: -20px;
    display: none;
    transition: all 0.3s ease-in-out;
    font-size: calc(var(--size) * 0.8);
    background-color: var(--colorBackground);
    padding: 1px 7px;
    border: 1px solid var(--colorGray3);
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    text-wrap: nowrap;
}

.submissionInfo:hover .label {
    display: flex;
}

.submission {
    font-size: calc(var(--size) *1.8);
    font-weight: var(--boldL2);
    text-align: center;
    color: var(--colorCyan);
    border: 1px solid var(--colorCyan);
    padding: 0 20px;
    border-radius: 10px;
}


.dateTime {
    text-align: right;
    font-weight: var(--boldL2);
    color: var(--colorRed);
    font-size: calc(var(--size) * 0.8);
}


.expire {
    font-weight: var(--boldL3);
    font-size: calc(var(--size) * 0.9);
}