.letsCreate {
    width: 100vw;
    height: 100vh;
}

.header {
    width: 100%;
    height: 40px;
    background-color: #f7c3a6d0;
}

.body {
    width: 100%;
    height: calc(100% - 40px);
    display: flex;
}

.mainleftBar {
    height: 100%;
    width: 40px;
    background-color: #a3eea1;
    display: flex;
}

.formSection{
    width: 100%;
    height: 100%;
    display: flex;
}

.section {
    height: 100%;
    width: 50%;
    display: flex;
}

.forms {
    height: 100%;
    width: 50%;
    overflow: auto;
    
}


.active {
    /* background-color: #a1c9ee; */
}

.building {
    background-color: #b8a1ee;

}

.inActive {
    background-color: #eea1db;
}


.schedule {
    background-color: #eea1a5;

}