.textField {
    position: relative;
    width: 100%;
    margin-top: 9px;
}

.textFieldInputWrapper {
    display: flex;
    align-items: center;
    border-top: var(--borderTop);
    border-left: var(--borderLeft);
    border-right: var(--borderRight);
    border-radius: var(--borderRadius);
    border-bottom: var(--borderBottom);

}

.required {
    padding-top: 5px;
    margin: 0 5px;
    color: var(--colorRed);
    font-weight: var(--boldL4);
}


.textFieldPrefix {
    padding-left: 10px;
}

.textFieldSuffix {
    padding-right: px;
}

.textFieldInput {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    padding: 5px 5px;
    border-radius: var(--borderRadius);
}

.textField input::placeholder {
    color: var(--colorGray4);
}

.textFieldLabel {
    position: absolute;
    top: -12px;
    left: 0;
    font-size: calc(var(--size) * 0.8);
    color: var(--colorGray5);
}

.textField input:focus {
    border: none;
    outline: none;
    color: var(--color);
    font-weight: var(--boldL2);
}

.textFieldClear {
    border: 1px solid var(--colorRed);
    display: flex;
    border-radius: 4px;
    cursor: pointer;
}

.textFieldIcon {
    display: flex;
    margin-right: 5px;
}

.textFieldClear svg path {
    color: var(--colorRed);
}

.errorNumCount {
    display: flex;
    justify-content: space-between;
}

.textFieldCharacterCount {
    text-align: right;
    font-size: calc(var(--size) * 0.8);
}

.textFieldCharacterCount.isValid {
    width: 100%;
}

.textFieldErrorMessage {
    font-size: calc(var(--size) * 0.8);
    color: var(--colorRed);
    padding-left: 5px;

}

/* //////////////////////////////////////////// */