.webStructure {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  --headerHei: 40px;
  --headerHeiDual: 50px;
}

.top {
  height: 100vh;
  width: 100%;
  overflow-y: auto;
}

.header {
  height: var(--headerHei);
  width: 100%;
}

.body {
  min-height: 100%;
}

@media (max-width: 1000px) {
  .header {
    height: var(--headerHeiDual);
  }
}
