.dropDownProp,
.rangeProp,
.datePickerProp,
.textInputProp,
.colorPickerProp,
.booleanInputProp {
    width: 100%;
}

.numberInputProp {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.numberInputProp span {
    text-align: left;
    text-wrap: nowrap;
    font-weight: var(--boldL2);

}

.dropDowpProp .textInput{
  margin-bottom: 10px;
}
