.fieldLabel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 10px;
}

.label {
    text-align: center;
    padding: 5px 10px 2px 10px;
    background-color: var(--color);
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    color: var(--colorWhite);
    min-width: 100px;
    font-weight: var(--boldL2);
}


.fields {
    border: 1px solid var(--color);
    border-radius: 7px;
    border-top-right-radius: 0px;
    margin-top: 0px;
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.component {
    border: 1px solid var(--colorGray3);
    padding: 5px 10px;
    text-align: center;
    text-wrap: nowrap;
    border-radius: 5px;
    cursor: pointer;
    font-weight: var(--boldL2);
    color: var(--colorGray5);
}

.component:hover {
    border: 1px solid var(--color);
    background-color: var(--color);
    color: var(--colorWhite);
}