.loginFormWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.title {
  font-weight: var(--boldL2);
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.buttonsWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.extra {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.extra button {
  font-size: calc(var(--size) * 0.8);
  text-align: right;
}

.extra button:hover {
  color: var(--colorRed);
}
