.btn {
  height: var(--height);
  width: var(--width);
  border-radius: var(--borderRadius);
  padding: 5px 10px;
  margin: 0;
  cursor: pointer;
  color: var(--color);
  background-color: var(--background);
  border: var(--border);
  font-weight: var(--boldL2);
  outline: none;
}

.btn:hover {
  opacity: 0.7;
  background-color: var(--hoverBackground);
  color: var(--hoverColor);
}