.iconButton {
  position: relative;
}

.iconButton:hover .label {
  opacity: 1;
}

.btn {
  border: none;
  outline: none;
  border: 1px solid var(--iconColor);
  padding: 2px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  background-color: var(--colorBackground);
  transition: background-color 0.3s, color 0.3s;
}

.btn svg path {
  color: var(--iconColor);
}

.btn svg {
  font-size: var(--iconSize);
}

.btn:hover {
  background-color: var(--iconColor);
}

.btn:hover svg path {
  color: var(--colorWhite);
}
