.btn {
  height: var(--height);
  width: var(--width);
  border-radius: var(--radius);
  padding: var(--padding);
  margin: 0;
  cursor: pointer;
  border: none;
  font-weight: var(--boldL2);
  outline: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.btn:hover {
  opacity: 0.7;
}
