.btn {
    height: 100%;
    width: 100%;
    border-radius: var(--radius);
    padding: var(--padding);
    margin: 0;
    cursor: pointer;
    border: none;
    font-weight: var(--boldL2);
    outline: none;
  }
  
  .btn:hover {
    opacity: 0.7;
  }