.droppableArea {
    position: relative;
    width: 100%;
    height: 97%;
    border: 2px dashed #ccc;
    background-color: #f9f9f9;
}

.droppedItem {
    position: absolute;
    padding: 8px;
    background-color: #28a745;
    color: white;
    border-radius: 4px;
    cursor: move;
}

.cursorPoint {
    height: 3%;
    padding: 4px;
    text-align: right;
}