.container {
    display: flex;
    height: 100vh;
}

.leftSection {
    width: 30%;
    padding: 10px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rightSection {
    width: 70%;
    padding: 10px;
    background-color: #e9ecef;
    position: relative;
}
