.navigator {
}

.navigatorSection {
  flex: 1;
  /* display: flex;
  flex-direction: var(--direction);
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px; */
}

.navigatorSection:first-child {
  justify-content: start;
}

.navigatorSection:nth-child(3) {
  justify-content: end;
}

.tabWithDropdown {
  position: relative;
}

.plainBtn.isSelected {
  font-weight: var(--boldL3);
}

.plainBtn.isSelected button {
  font-weight: var(--boldL3);
  text-decoration: underline;
  color: var(--colorYellow);
}

.plainBtn.isSpecial button {
  text-decoration: none;
  color: var(--colorRed);
  font-weight: var(--boldL3);
}

.plainBtn.isSpecial button:hover {
  cursor: default;
  opacity: 1;
}

.iconBtn.isSelected:hover button,
.iconBtn.isSelected button {
  background-color: var(--colorYellow);
  color: var(--colorWhite);
}

.iconBtn.isSelected:hover svg path,
.iconBtn.isSelected:hover svg circle,
.iconBtn.isSelected svg circle,
.iconBtn.isSelected svg path {
  color: var(--colorWhite);
}

.productImg {
  border: 1px solid red;
  height: 25px;
}

.notification {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding-left: 5px;
  border: 1px solid var(--colorSpecial);
  border-radius: 5px;
  font-weight: var(--boldL3);
  /* transition: background-color 0.3s, color 0.3s; */
}

.notification:hover {
  background-color: var(--colorSpecial);
  cursor: pointer;
  border: 1px solid var(--colorSpecial);
}

.notification:hover button {
  background-color: transparent;
  border: none;
  transition: none;
}

.notification:hover svg path {
  color: var(--colorWhite);
}

.notification p {
  color: var(--colorSpecial);
}

.notification:hover p {
  color: var(--colorWhite);
}

.iconBtn.isSelected .notification {
  background-color: var(--colorYellow);
  border: 1px solid var(--colorYellow);
}

.iconBtn.isSelected .notification p {
  color: var(--colorWhite);
}
