.dropdown {
    position: relative;
    min-width: 50px;
}

.dropdownSelected {
    padding: 10px;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
}

.dropdownOptions {
    position: absolute;
    left: 0;
    right: 0;
    /* border: 1px solid #ccc; */
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background-color: #fff;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
}

.dropdownOptions.above {
    bottom: 100%;
}

.dropdownOption {
    padding: 10px 0;
    cursor: pointer;
    text-align: center;
}

.dropdownOption:hover {
    background-color: var(--color);
    opacity: 0.7;
    color: var(--colorWhite);
    font-weight: var(--boldL2);
}