.alertContainer {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 1010;
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 300px;
  /* 10px gap between alerts */
}

.alert {
  position: relative;
  padding: 5px 20px 10px 20px;
  border-radius: 5px;
  z-index: 1010;
  opacity: 1;
  transition: opacity 0.4s ease, transform 0.4s ease;
  background-color: var(--colorBackground);
  overflow: hidden;
}

.fadeOut {
  opacity: 0;
  transform: translateX(40px);
  pointer-events: none;
}
.crossIcon {
  position: absolute;
  top: 2px;
  right: 3px;
  opacity: 0.8;
}

.alert.success {
  border: 1px solid var(--colorCyan);
  color: var(--colorCyan);
}

.alert.error {
  border: 1px solid var(--colorRed);
  color: var(--colorRed);
}

.alert.info {
  border: 1px solid var(--colorYellow);
  color: var(--colorYellow);
}

.statusBar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  transition: width 1s linear;
}

.error .statusBar {
  background-color: var(--colorRed);
}

.success .statusBar {
  background-color: var(--colorCyan);
}

.info .statusBar {
  background-color: var(--colorYellow);
}
